/* Regole Generali */
body {
  padding-top: 70px;
}

section {
  padding: 32px 0;
}

footer {
  color: white;
}

/* Regole Basi */
.ms_section-primary {
  background-color: #19bc9c;
  color: white;
}

.ms_section-secondary {
  color: #2d3e50;
}

.ms_section-secondary .ms_section-title {
  color: #333;
}

.ms_intro {
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* Componenti */
.ms_navbar {
  background-color: #2d3e50;
  line-height: 70px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.ms_navbar .ms_logo {
  font-size: 2em;
  margin: 0;
}
.ms_list-menu {
  margin: 0;
}

.ms_list-menu a {
  color: white;
  font-size: 1.2em;
}

.ms_navbar i {
  font-size: 1.5em;
}

.ms_jumbotron {
  text-transform: uppercase;
}

.ms_jumbotron img {
  height: 300px;
}

/* Portfolio */
.ms_portfolio {
  text-align: center;
}

.ms_portfolio-item {
  border-radius: 10px;
  margin-bottom: 30px;
}

.ms_portfolio img {
  width: 100%;
}

/* About */
.ms_wrapper {
  width: 60%;
  margin: 0 auto;
  max-width: 991px;
}

.ms_btn_about {
  color: white;
  border: 1px solid white;
  background-color: #19bc9c;
  margin: 10px 0;
}

.ms_form {
  border: none;
  border-bottom: 2px solid black;
  border-radius: 0;
  box-shadow: none;
  /* margin-top: 10px;
  padding-bottom: 20px; */
  /* height: auto; */
}

.ms_label {
  color: #2d3e50;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 17px;
  margin-top: 7px;
}

/* FOOTER */
/* Contacts */
.ms_footer-contacts {
  background-color: #3a546d;
  padding: 30px 0;
}

.ms_footer-contacts .row > div {
  padding-bottom: 20px;
}

.ms_btn_contacts {
  color: white;
  border: 1px solid #19bc9c;
  background-color: #19bc9c;
}

/* Copyright */
.ms_footer-copyright {
  background-color: #2d3e50;
  padding: 40px 0;
}

/* Media Query */
@media screen and (min-width: 768px) {
  .ms_jumbotron {
    padding: 48px 0;
  }
}
